.rotateContainer {
  position: relative;
  font-size: inherit;
}

.original,
.clone {
  position: relative;
  display: block;
}

.clone {
  position: absolute;
  left: 0;
  bottom: 0;
}

.original span,
.clone span {
  display: inline-block;
  will-change: transform;
  transform-style: preserve-3d;
  transform-origin: bottom;
}

.clone span {
  transform-origin: top;
}
